/* App.css */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
}

/* Header bar */
.section-header {
  position: fixed;
  height: 100px;
  width: 100%;
  border-top: 4px solid #94ff8af9;
  z-index: 99;
  display: flex;
  justify-content: center;
  background: url("https://learntocodetogether.nl/assets/skyline-upside-down.svg")
    top center no-repeat;
}

.section-header.scroll {
  height: 60px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.section-header .icon {
  position: absolute;
  height: 30px;
  left: 20px;
  top: 15px;
}

.section-header nav {
  height: 60px;
  display: flex;
  align-items: center;
}

.section-header nav a {
  margin-right: 20px;
  padding-bottom: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.section-header nav a:hover {
  border-bottom: 2px solid #10314f;
}

.section-header nav a:last-child {
  margin-right: 0px;
}

.section-header .happy-title {
  color: #000000;
  font-family: sans-serif;
  font-size: 18px;
}

/* Main question */

.section {
  padding: 100px 100px;
}

.component-section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component-section-header h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 25px;
  color: #000000;
  font-family: sans-serif;
}

.component-section-header img {
  height: 200px;
  margin-bottom: 30px;
}
